<div class= "container-cover">
<div class = "container">
   <!--<h1 class = "Title">Get started</h1>-->
   <div class="content">
    <h1>Book Tracker</h1>
    <p class="sub-content">Track your book reading.<br> Explore new books and rate books after you've read them</p>
    </div>

    <div class="form">
        <h2>Login</h2>
        <div class = "form-input-message">Enter username</div>
        <input type="text" id="username" name="username" placeholder="Enter username" #username>
        <div class = "form-input-message">Enter password</div>
        <input type="text" id="password" name="password" placeholder="Enter password" #password>
        <div style= "margin-top: 5%">
        <button type="button" id="login-button" class="btn btn-dark" (click)="login(username.value, password.value)">Login</button><br></div>
        <a href= "#">Create an account here</a>
    </div>
    
</div>
</div>

<!--
<div class="content">
    <h1>Book Tracker</h1>
    <p class="sub-content">Track your book reading. Explore new books and rate books after you've read them</p>
</div>

<div class="form">
    <h2>Login</h2>
    <div class = "form-input-message">Enter username</div>
    <input type="text" name="email" placeholder="Enter email address">
    <div class = "form-input-message">Enter username</div>
    <input type="text" name="password" placeholder="Enter password">
    <div style= "margin-top: 5%"></div>
    <button type="button" class="btn btn-dark">Login</button><br>
    <a href= "#">Create an account here</a>
</div>-->

<!--<form class ="login-form">
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>-->