<div class="container-v">
  <div class="login-form-v">
    <div class="left-pane"></div>
    <div class="right-pane">
      <h2>Login</h2>
      <div class = "form-input-message">Enter username</div>
        <input type="text" id="username" name="username" placeholder="Username" #username>
        <div class = "form-input-message">Enter password</div>
        <input type="text" id="password" name="password" placeholder="Password" #password>
        <div style= "margin-top: 5%">
        <button type="button" id="login-button" class="btn btn-dark" style="margin-bottom: 5px;" (click)="login(username.value, password.value)">Login</button><br>
        <button type="button" id="switch-register-button" class="btn btn-dark" (click)="switchToRegister()">Create an Account Here</button></div>
    </div>
  </div>

</div>