
<div class="nav-bar-container" style="position: sticky;">
  <nav class="nav-bar" style="background-color: #e3f2fd; ">
      <img src="/assets/book-icon.png" class="logo">
      <a class="navbar-brand" href="#">Bookish</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--<div class= "nav-right">-->
          <!--<input type="text" class="search-box" placeholder="Search" name="query">-->
          <!--<div class="dropdown">-->
             <!--<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Search by
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Title</a>
                <a class="dropdown-item" href="#">Author</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>-->
              <!--<img src="/assets/profile-icon.jpg" class="profile">
              <div class="user-profile-name" style="padding-right: 10px;">
                  <p>Test user</p>{{username}}
              </div>
      </div>
              <div class="profile-menu"></div>-->
              
           
                  
  </nav>
  
  </div>


  <div class = "container">
    <div class="side-bar">
      <div class = links>
        <a routerLink="/land-page" routerLinkActive="active" href="a">Discover new books</a>
        <a routerLink="/read-list" routerLinkActive="active" href="a">View read list</a>
        <a routerLink="/to-read-list" routerLinkActive="active" href="a">View to-read list</a>
        <a routerLink="/update-pass" routerLinkActive="active" href="a">Update password</a>
        <a routerLink="/logout" routerLinkActive="active" href="a">Logout</a>
        </div>
      </div>

    <div class="main-content">
          
      <h3 style="padding-top: 8%;">Look up books</h3>
      <div class="card-container" style="padding-top: 2%;">
<form class="search-book" style="width: 80%; padding-top: 70px; padding-left: 200px;">
    
    <div class="form-group row" style="padding-top: 10px; padding-left: 15px;">
      <label for="inputSearch" class="col-sm-2 col-form-label">Enter input</label>
      <div class="col-sm-10">

        <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Type here" style="width: 50%; margin-left:-22px"> -->
        <input type="text" class="form-control" id="inputSearch" placeholder="Type here" style="width: 50%" #searchInput>

      </div>
    
    <fieldset class="form-group" style="padding-top: 10px">
        <div class="row">

          <button id="submitTitle" class="btn btn-dark" name="submitSearchTitle" style="width: 15%; margin-bottom: 6px; margin-left: 165px;" type="submit" (click)="submitSearchByTitle(searchInput.value)">Search The Title</button>
          <button id="submitAuthor" class="btn btn-dark" name="submitSearchAuthor" style="width: 15%; margin-bottom: 6px; margin-left: 165px;" type="submit" (click)="submitSearchByAuthor(searchInput.value)">Search The Author</button>

          <!-- <legend class="col-form-label col-sm-2 pt-0">Select by</legend>
          <div class="col-sm-10">
            <div class="form-check">

              <input class="form-check-input" type="radio" name="title" id="gridRadios1" value="title" checked style="margin-top: 5px;">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="title" checked #title>

              <label class="form-check-label" for="gridRadios1">
                Title
              </label>
            </div>
            <div class="form-check">

              <input class="form-check-input" type="radio" name="author" id="gridRadios2" value="author" style="margin-top: 5px;">

              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="author" #author>

              <label class="form-check-label" for="gridRadios2">
                Author
              </label> -->
            </div>
    </fieldset>
          </div>
          
</form>

            <div class="card-container" style="padding-top: 2%; margin-top: 100px;" *ngIf="searchList.length != 0"><!--Better for the *ngIf to be here since the card itself is what's going to be repeated-->
              <div class="card" style="width: 50rem; position:unset; margin-bottom: 10px;" *ngFor = 'let book of searchList'><!--*ngFor to be included in this statement-->
               <img class="card-img-top" [src]="book.image" alt="book cover image" style="width: 25%; height: 25%">
               <div class="card-body">
                 <h5 class="card-title">Title: {{book.title}}</h5>
                 <!-- <h6 class="card-title">Subtitle: </h6> --> <!-- We don't need a subtitle. That's going to be put into the title.-->
                 <h6 class="card-title">Author: {{book.author}}</h6>
                <h6 class="card-title">Description: {{book.description}}</h6>
                <button [id]="book.apiId" class="btn btn-dark" name="submitToList" style="width: 15%; margin-bottom: 6px;" type="submit" (click)="saveBook($event)">Add to to-read list</button>
                <!--<p class="card-text">{{desc}}</p>-->
                 <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
               </div>
             </div> <!--</li>-->
                 </div>
    <!-- </div> -->
        <!-- </div> -->
    

    <!--<button type="button" class="btn btn-dark" id="update-pass-sub" style="width:15%; margin-top: 12px;">Submit</button>-->

    <!-- <button type="button" class="btn btn-dark" id="update-pass-sub" style="width:15%; margin-top: 12px;">Submit</button> -->

      </div>
    </div>
    </div>