<div class="nav-bar-container" style="position: sticky;">
    <nav class="nav-bar" style="background-color: #e3f2fd; ">
        <img src="/assets/book-icon.png" class="logo">
        <a class="navbar-brand" href="#">Bookish</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--<div class= "nav-right">-->
            <!--<input type="text" class="search-box" placeholder="Search" name="query">-->
            <!--<div class="dropdown">-->
               <!--<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Search by
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Title</a>
                  <a class="dropdown-item" href="#">Author</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>-->
                <!--<img src="/assets/profile-icon.jpg" class="profile">
                <div class="user-profile-name" style="padding-right: 10px;">
                    <p>Test user</p>{{username}}
                </div>
        </div>
                <div class="profile-menu"></div>-->
                
             
                    
    </nav>
    
    </div>
    
    <!--<div class="user-options">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">View read list</a>
            <a href="#" class="list-group-item list-group-item-action">View to-read list</a>
            <a href="#" class="list-group-item list-group-item-action">View current book</a>
        </div>
      </div>-->
    
      <div class = "container">
          <div class="side-bar">
          <div class = links>
            <a routerLink="/land-page" routerLinkActive="active" href="a">Discover new books</a>
            <a routerLink="/read-list" routerLinkActive="active" href="a">View read list</a>
            <a routerLink="/to-read-list" routerLinkActive="active" href="a">View to-read list</a>
            <a routerLink="/current-list" routerLinkActive="active" href="a">View currently reading list</a>
            <a routerLink="/update-pass" routerLinkActive="active" href="a">Update password</a>
            <a routerLink="/logout" routerLinkActive="active" href="a">Logout</a>
            </div>
          </div>
          <div class="main-content" style="top: 50px">
              
              <h3 style="padding-top: 8%;">Update password</h3>
              <div class="card-container" style="padding-top: 2%;">
                <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Enter new password</label>
                      <input type="password" class="form-control" id="password" placeholder="Password" name="password" style="width: 50%; margin-top: 2px;margin-bottom: 7px;">
                      <button type="button" class="btn btn-dark" id="update-pass-sub" style="width:15%">Submit</button>
                      
                    </div>
                </form>
           
          </div>
      </div>
      </div>
    
    
