*{
    margin: 0;
    padding: 0;
}

.nav-bar{
    position: fixed;
    width: 100%;

}
.logo{
    height: 3%;
    width: 3%;
    left: 8px;
}

.profile{
    height:5%;
    width: 5%;
}

.user-profile-name{
    right: -600px;
}
.nav-right {
    position: absolute;
    top: 4px;
    right: -550px;
  }

.dropdown{
    position: absolute;
    top: 0px;
    right: -150px;
}

.search-book{
    position: absolute;
    left: 220px;
    top: 80px;
}

.user-options{
    background-color: rgb(201, 63, 63);
    width: 200px;
    height: 675px;
}

.option-list{
    padding-left: 10px;
}

.list-group-item list-group-item-action{
    height: 50%
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

.side-bar{
    /*background: #cbdffa;*/
    flex-basis: 25%;
    position: sticky;
    top: 20px;
    align-self: flex-start;
    
}

.main-content{
    flex-basis: 70%;

}

nav{
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    background: #1876f2;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
    padding-left: 10%;
    margin-top: 70px;
}

.nav-bar a{
    text-decoration: none;
    color: #626262;
    width: fit-content;
    padding-left: 0.5%;
}

.main-content h3{
    text-decoration: none;
    color: #626262;
    width: fit-content;
}

li{
    padding-top: 2%;
}