<div>
    <nav class="nav-bar" style="background-color: #e3f2fd;">
        <img src="/assets/book-icon.png" class="logo">
        <a class="navbar-brand" href="#">Bookish</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
            <!--<input type="text" class="search-box" placeholder="Search" name="query">-->
            <!--<div class="dropdown">-->
               <!--<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Search by
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Title</a>
                  <a class="dropdown-item" href="#">Author</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>-->
                
                                      
             
                    
    </nav>
    
    </div>
    
    <!--<div class="user-options">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">View read list</a>
            <a href="#" class="list-group-item list-group-item-action">View to-read list</a>
            <a href="#" class="list-group-item list-group-item-action">View current book</a>
        </div>
      </div>-->
    
      <div class = "container">
          <div class="side-bar">
          <div class = links>
            <a href="#">View to read list</a>
            <a href="#">View to to-read list</a>
            <a href="#">View currently reading list</a>
            </div>
          </div>
          <div class="main-content" style="top: 50px">
              <h3 style="padding-top: 8%;">Books you are currently reading</h3>
              <div class="card-container" style="padding-top: 2%;"><!--*ngFor to be included in this statement-->
           <!--<ul>-->
         <!--<li>--><div class="card" style="width: 18rem; position:unset;">
            <img class="card-img-top" src="assets/book-back.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Title: </h5>
              <h6 class="card-title">Subtitle: </h6>
              <h6 class="card-title">Author: </h6>
             <h6 class="card-title">Description:</h6>
             <!--<p class="card-text">{{desc}}</p>-->
              <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
          </div> <!--</li>-->
              </div>
    
          <!--<li>--><div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/book-back3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Title: </h5>
              <h6 class="card-title">Subtitle: </h6>
              <h6 class="card-title">Author: </h6>
             <h6 class="card-title">Description:</h6>
             <!--<p class="card-text">{{desc}}</p>-->
              <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
          </div><!--</li>-->
          <!--<li>--><div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/book-back2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Title: </h5>
              <h6 class="card-title">Subtitle: </h6>
              <h6 class="card-title">Author: </h6>
             <h6 class="card-title">Description:</h6>
             <!--<p class="card-text">{{desc}}</p>-->
              <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
          </div><!--</li>
            </ul>-->
          </div>
      </div>
    
    
