<div>
    <nav class="nav-bar" style="background-color: #e3f2fd;">
        <img src="/assets/book-icon.png" class="logo">
        <a class="navbar-brand" href="#">Bookish</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                
                                 
             
                    
    </nav>
    
    </div>

    <div class = "container">
        <div class="side-bar">
        
        </div>
        <div class="main-content">
          <h3 style="padding-top: 8%;">You have been logged out!!!</h3>
          </div>
