<div>
    <nav class="nav-bar" style="background-color: #e3f2fd;">
        <img src="/assets/book-icon.png" class="logo">
        <a class="navbar-brand" href="#">Bookish</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
            <!--<input type="text" class="search-box" placeholder="Search" name="query">-->
            <!--<div class="dropdown">-->
               <!--<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Search by
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Title</a>
                  <a class="dropdown-item" href="#">Author</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>-->
                
                                 
             
                    
    </nav>
    
    </div>

    <div class = "container">
        <div class="side-bar">
        
        </div>
        <div class="main-content">
          <h3 style="padding-top: 8%;">You have been logged out!!!</h3>
          </div>
